.homePage {
    display: flex;
    flex-direction: column;
}

.about {
    margin: 200px 30px;
}

.portfolio {
    margin: 50px 0px;
}

.skills {
    margin: 50px 0px;
}

.header {
    text-align: center;
    text-decoration: underline;
}

.profile {
    display: flex;
    flex-direction: column;
    margin: 15px 550px;
    border: 5px;
    border-color: var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 80px;
}

.profileName {
    display: flex;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-decoration: underline;
    z-index: 4;
}

.Name {
    color: var(--accent-color);
    text-decoration: none !important;
    font-size: calc(14px + 2vmin);
    justify-content: center;
}

.profileContent {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.body {
    display: flex;
    margin: none;
    text-indent: 2em;
    /* Works like a tab character*/
}

.aboutMe {
    display: flex;
    margin: none;
    margin-top: 15px;
    text-indent: 2em;
    /* Works like a tab character*/
}

.profileText {
    text-align: left;
}

.profileImage {
    align-items: right;
}