.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: left;
}

.header {
    text-align: center;
    text-decoration: underline;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border: 5px;
    margin: 3rem 0%;
    border-color: var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 5rem;
    width: 60%;
}

.profileName {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 10px;
    text-decoration: underline;
    z-index: 4;
}

.Name {
    color: var(--accent-color);
    text-decoration: none !important;
    font-size: calc(14px + 2vmin);
    justify-content: center;
}

.profileContent {
    display: flex;
    flex-direction: column;
    margin: none;
}

.body {
    display: flex;
    margin: none;
    text-indent: 2em;
    /* Works like a tab character*/
}

.aboutMe {
    display: flex;
    margin: none;
    margin-top: 15px;
    text-indent: 2em;
    /* Works like a tab character*/
}

.profileText {
    text-align: left;
}

.profileImage {
    align-items: right;
}