.Experience,
.Publication {
    display: flex;
    flex-direction: column;
    margin: 25px;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    box-shadow: rgba(255, 255, 255, 0.5);
    width: 450px;
    height: 450px;
}

.Education,
.Position {
    display: flex;
    flex-direction: column;
    margin: 3% 0%;
    /*Align with size of connecting line to timeline*/
    margin-left: 15px;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    box-shadow: rgba(255, 255, 255, 0.5);
    width: 1100px;
    height: 350px;
    position: relative;
}


/*To make it actually feel like elements of a timeline*/

.Education::before,
.Position::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 20px;
    height: 2px;
    background-color: black;
}

.title {
    text-decoration: underline;
    margin-bottom: 0px;
}

.info {
    margin: 0px 3px;
}

.Info {
    margin-left: 2%;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 125px;
    background-color: blueviolet;
    /*Tmp color for visual distinction*/
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    margin: 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.skillText {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
}

.skill:hover .skillText {
    opacity: 1;
}

.Header {
    display: flex;
    flex-direction: row;
}

.headerText {
    display: flex;
    flex-direction: column;
    margin: 0px;
    /*Adjust the spacing between title and info*/
}

.meta {
    margin: 5px;
    margin-left: 0px;
}

.degree {
    margin: 0px;
}

.Body {
    margin-top: 2%;
}

.gpa,
.Organizations,
.Coursework {
    margin: 5px;
    margin-left: 0px;
}