.profile {
    display: flex;
    flex-direction: column;
    margin: 15px 550px;
    border: 5px;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.profileName {
    display: flex;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-decoration: underline;
    z-index: 4;
}

.profileContent {
    display: flex;
    margin: 10px;
}

.profileText {
    text-align: left;
}

.profileImage {
    align-items: right;
}

.Experience,
.Education,
.Publication {
    display: flex;
    flex-direction: column;
    margin: 25px;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    box-shadow: rgba(255, 255, 255, 0.5);
    width: 450px;
    height: 450px;
}

.title {
    text-decoration: underline;
}

.info {
    margin: 0px 3px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 125px;
    background-color: blueviolet;
    /*Tmp color for visual distinction*/
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    margin: 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.skillText {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
}

.skill:hover .skillText {
    opacity: 1;
}

.Header {
    display: flex;
    flex-direction: row;
}

.headerText {
    display: flex;
    flex-direction: column;
    margin: 0px;
}