.Navbar {
    display: flex;
    margin: 0;
    background-color: var(--navbar-color);
    justify-content: center;
    position: relative;
    z-index: 1000;
    border-bottom: 3px solid var(--border-color);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    border: none;
    border-left: 2px solid var(--border-color);
    padding: 0px 8px;
    text-decoration: none;
    max-width: 105px;
    color: var(--text-color);
    text-decoration: underline;
}

.button:last-child {
    border-right: 2px solid var(--border-color);
}

.buttonText {
    font-size: 18px;
    text-decoration: none;
}

.buttonSocial {
    background-color: var(--background-color);
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSocial:hover,
.button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin: auto;
}

.SocialButtons {
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px
}