.Experience {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.educationCards,
.positionCards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.educationRow,
.positionRow {
    display: flex;
    flex-direction: row;
}

.Educations,
.Positions {
    display: flex;
    flex-direction: column;
}

.title {
    text-decoration: underline;
    color: rgb(181, 179, 179);
}

.logo {
    max-width: 75px;
    max-height: 75px;
    top: 0;
    right: 0;
}