.Experiences {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.Timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
    padding: 0;
    align-items: center;
    /* Center-align the timeline */
}

.TimelineItem {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;
    /* Ensure items span the full width */
}

.TimelineDot {
    width: 20px;
    height: 20px;
    background-color: #FFD700;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.TimelineLine {
    position: absolute;
    top: 50%;
    /* Start from the middle of the dot */
    left: 10px;
    width: 2px;
    height: calc(100%);
    /* Extend beyond the dot size to connect */
    background-color: black;
    z-index: 1;
    transform: translateX(-50%);
    /* Horizontal centering */
}


/* Remove line for the last item */

.TimelineItem:last-child .TimelineLine {
    display: none;
}

.introText {}

.header {
    text-decoration: underline;
}

.logo {
    position: absolute;
    max-width: 75px;
    max-height: 75px;
    top: 2px;
    right: 2px;
}


/*In case I decide to use an image instead of a dot*/

.TimelineImage {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 0 auto;
    z-index: 1;
}