.Skills {
    display: flex;
    flex-direction: column;
}

.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skillGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Languages {
    display: flex;
    flex-direction: column;
}

.Libraries {
    display: flex;
    flex-direction: column;
}

.Tools {
    display: flex;
    flex-direction: column;
}

.Dev {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    text-decoration: underline;
}

.languageCards {
    display: flex;
    flex-direction: row;
}

.libraryCards {
    display: flex;
    flex-direction: row;
}

.toolCards {
    display: flex;
    flex-direction: row;
}

.devCards {
    display: flex;
    flex-direction: row;
}

.logo {
    margin: 10% 5%;
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
}