.Skills {
    display: flex;
    flex-direction: column;
}

.Languages {
    display: flex;
    flex-direction: column;
}

.Libraries {
    display: flex;
    flex-direction: column;
}

.Tools {
    display: flex;
    flex-direction: column;
}

.Dev {
    display: flex;
    flex-direction: column;
}

.languageCards {
    display: flex;
    flex-direction: row;
}

.libraryCards {
    display: flex;
    flex-direction: row;
}

.toolCards {
    display: flex;
    flex-direction: row;
}

.devCards {
    display: flex;
    flex-direction: row;
}


/* img {
    width: 75px;
    height: 75px;
    object-fit: contain;
} */

.logo {
    margin: 10% 5%;
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
}