.Portfolio {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.experienceCards,
.publicationCards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experienceRow,
.publicationRow {
    display: flex;
    flex-direction: row;
}

.Experiences,
.Publications {
    display: flex;
    flex-direction: column;
}

.title {
    text-decoration: underline;
    color: var(--text-color);
}

.logo {
    max-width: 75px;
    max-height: 75px;
    top: 0;
    right: 0;
}